## 11. 후보키 (정답률: 16.09%)
- 문제: https://school.programmers.co.kr/learn/courses/30/lessons/42890

In [32]:
import pandas as pd

l = [
    ['100','ryan','music','2'],
    ['200','apeach','math','2'],
    ['300','tube','computer','3'],
    ['400','con','computer','4'],
    ['500','muzi','music','3'],
    ['600','apeach','music','2']
]

data = pd.DataFrame(l)
data

     0       1         2  3
0  100    ryan     music  2
1  200  apeach      math  2
2  300    tube  computer  3
3  400     con  computer  4
4  500    muzi     music  3
5  600  apeach     music  2

In [33]:
data[1].value_counts()

apeach    2
ryan      1
tube      1
con       1
muzi      1
Name: 1, dtype: int64

In [34]:
len(data[1]) == len(data[1].value_counts())

False

In [39]:
import pandas as pd
from itertools import combinations

l = [
    ['100','ryan','music','2'],
    ['200','apeach','math','2'],
    ['300','tube','computer','3'],
    ['400','con','computer','4'],
    ['500','muzi','music','3'],
    ['600','apeach','music','2']
]

colname = range(len(l[0]))

data = pd.DataFrame(l)
data_ = pd.DataFrame()

유일성만족리스트 = []
모든이름의조합 = []

for 조합수 in range(1, len(colname)+1):
    컬럼이름의조합 = combinations(colname, 조합수)
    모든이름의조합.append(list(컬럼이름의조합))
    
for 이름조합 in 모든이름의조합:
    for 컬럼명 in 이름조합:
        if len(컬럼명) == 1:
            data_[f'data[{컬럼명[0]}]'] = data[컬럼명[0]]
        elif len(컬럼명) == 2:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}]'] = data[컬럼명[0]] + data[컬럼명[1]]
        elif len(컬럼명) == 3:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]]
        elif len(컬럼명) == 4:
            data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]]
        
data_

,data[0],data[1],data[2],data[3],data[0] + data[1],data[0] + data[2],data[0] + data[3],data[1] + data[2],data[1] + data[3],data[2] + data[3],data[0] + data[1] + data[2],data[0] + data[1] + data[3],data[0] + data[2] + data[3],data[1] + data[2] + data[3],data[0] + data[1] + data[2] + data[3]
0,100,ryan,music,2,100ryan,100music,1002,ryanmusic,ryan2,music2,100ryanmusic,100ryan2,100music2,ryanmusic2,100ryanmusic2
1,200,apeach,math,2,200apeach,200math,2002,apeachmath,apeach2,math2,200apeachmath,200apeach2,200math2,apeachmath2,200apeachmath2
2,300,tube,computer,3,300tube,300computer,3003,tubecomputer,tube3,computer3,300tubecomputer,300tube3,300computer3,tubecomputer3,300tubecomputer3
3,400,con,computer,4,400con,400computer,4004,concomputer,con4,computer4,400concomputer,400con4,400computer4,concomputer4,400concomputer4
4,500,muzi,music,3,500muzi,500music,5003,muzimusic,muzi3,music3,500muzimusic,500muzi3,500music3,muzimusic3,500muzimusic3
5,600,apeach,music,2,600apeach,600music,6002,apeachmusic,apeach2,music2,600apeachmusic,600apeach2,600music2,apeachmusic2,600apeachmusic2

In [40]:
인덱스 = data_.columns
유일성만족리스트 = []

for i in 인덱스:
    if len(data_[i]) == len(data_[i].value_counts()): # 유일성 판별
        유일성만족리스트.append(i)
        
유일성만족리스트

['data[0]',
 'data[0] + data[1]',
 'data[0] + data[2]',
 'data[0] + data[3]',
 'data[1] + data[2]',
 'data[0] + data[1] + data[2]',
 'data[0] + data[1] + data[3]',
 'data[0] + data[2] + data[3]',
 'data[1] + data[2] + data[3]',
 'data[0] + data[1] + data[2] + data[3]']

In [41]:
for i in range(len(유일성만족리스트)):
    for j in range(i+1, len(유일성만족리스트)):
        if 유일성만족리스트[i] in 유일성만족리스트[j]:
            유일성만족리스트[j] = '!'
            
유일성만족리스트

['data[0]', '!', '!', '!', 'data[1] + data[2]', '!', '!', '!', '!', '!']

In [42]:
len(유일성만족리스트) - 유일성만족리스트.count('!')

2

### 전체 코드

In [11]:
import pandas as pd
from itertools import combinations
    
def solution(l):
    colname = range(len(l[0]))

    data = pd.DataFrame(l)
    data_ = pd.DataFrame()

    유일성만족리스트 = []
    모든이름의조합 = []

    for 조합수 in range(1, len(colname)+1):
        컬럼이름의조합 = combinations(colname, 조합수)
        모든이름의조합.append(list(컬럼이름의조합))

    for 이름조합 in 모든이름의조합:
        for 컬럼명 in 이름조합:
            if len(컬럼명) == 1:
                data_[f'data[{컬럼명[0]}]'] = data[컬럼명[0]]
            elif len(컬럼명) == 2:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}]'] = data[컬럼명[0]] + data[컬럼명[1]]
            elif len(컬럼명) == 3:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]]
            elif len(컬럼명) == 4:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]]
            elif len(컬럼명) == 5:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}] + data[{컬럼명[4]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]] + data[컬럼명[4]]
            elif len(컬럼명) == 6:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}] + data[{컬럼명[4]}] + data[{컬럼명[5]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]] + data[컬럼명[4]] + data[컬럼명[5]]
            elif len(컬럼명) == 7:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}] + data[{컬럼명[4]}] + data[{컬럼명[5]}] + data[{컬럼명[6]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]] + data[컬럼명[4]] + data[컬럼명[5]] + data[컬럼명[6]]
            elif len(컬럼명) == 8:
                data_[f'data[{컬럼명[0]}] + data[{컬럼명[1]}] + data[{컬럼명[2]}] + data[{컬럼명[3]}] + data[{컬럼명[4]}] + data[{컬럼명[5]}] + data[{컬럼명[6]}] + data[{컬럼명[7]}]'] = data[컬럼명[0]] + data[컬럼명[1]] + data[컬럼명[2]] + data[컬럼명[3]] + data[컬럼명[4]] + data[컬럼명[5]] + data[컬럼명[6]] + data[컬럼명[7]]


    인덱스 = data_.columns
    유일성만족리스트 = []

    for i in 인덱스:
        if len(data_[i]) == len(data_[i].value_counts()): # 유일성 판별
            유일성만족리스트.append(i)

    for i in range(len(유일성만족리스트)):
        for j in range(i+1, len(유일성만족리스트)):
            if all(요소 in 유일성만족리스트[j].split(' + ') for 요소 in 유일성만족리스트[i].split(' + ')):
                유일성만족리스트[j] = '!'
    
    return len(유일성만족리스트) - 유일성만족리스트.count('!')

In [8]:
all(요소 in 'data[1] + data[2]'.split(' + ') for 요소 in 'data[0] + data[3]'.split(' + '))

False